#RStudio tempfiles#
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata

#knitr tempfiles#
#################
*.Rmd
data/
test/
#DB Data Files
db-data/

#Python Files
#################
*.pyc
.ipynb_checkpoints/

#OS X Files
#################
.DS_Store

openplant.Rproj

#Data Directories
#################
imgs/
data_2/

#TFVars/State
##############
*secret.tfvars
*.tfstate*
*.terraform/

#AlembicVersions
################
*/alembic/versions/*

#VS Code Files
##############
*.vscode
.python-version
v2/db.env
