#RStudio tempfiles#
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata

#knitr tempfiles#
#################
*.Rmd
data/

#DB Data Files
db-data/

#Python Files
#################
*.pyc
.ipynb_checkpoints/

#OS X Files
#################
.DS_Store

#Data Directories
#################
imgs/
data_2/

#TFVars/State
##############
*secret.tfvars
*.tfstate*
*.terraform/

#VS Code Files
##############
*.vscode
